<div class="main-content">
    <div class="container-fluid">
        <div class="header">
                <p class="text-6">movovi<span class="text-style-2">a</span></p>
        </div>
        <div class="body row">
            <div class="global_container row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="l-constrained ">
                        <img class="vector-smart-object" src="assets/images/img1.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col">
                        <p class="text">Melden Sie Sich An</p>
                        <p class="text-2">Geben Sie Ihre Zugangsdaten ein, um auf Ihr Profil zu greifen
                        </p>
                        <div class="text-copy-2">
                            <div class="email">
                                <input type="text" placeholder="email">
                            </div>
                        </div>
                        <div class="text-copy-3">
                            <div class="password">
                                <input type="password" placeholder="password">
                            </div>
                        </div>
                        <div class="check group">
                            <div class="group-1 ">
                                <input type="checkbox"> <label class="text-3">Angemeldet
                                    bleiben?</label>
                            </div>
                        </div>
                        <br>
                        <br>

                        <div class="group-1-copy-3 group">
                            <div class="group-1-copy-4">
                                <div class="text-4">
                                    <p>Sich Anmelden</p>
                                </div>
                            </div>
                            <p class="text-5">Password zurücksetzen<span class="text-style"> oder neues
                                </span>Konto
                                anlegen?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="footer">
            <div class="l-constrained-2">
                <p class="text-6">Copyright © &nbsp;2010-2020 <span class="text-style-2">Movovia</span>.
                    All rights
                    reserved.
                </p>
            </div>
        </div>
    </div>
</div>